body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}

h1 {
  color: #333;
}

.form {
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}
textarea {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3c5b6f;
}

#result {
  font-weight: bold;
}

.bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.45)
    ),
    url("assets/johanne-pold-jacobsen-XYkc3MfT7b4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 45vh;
}
.bg h1 {
  font-weight: bold;
  color: #153448;
  font-size: 64px;
}
#tombol {
  padding-top: 24px;
}
